.glass_container {
  position: relative;
  overflow: hidden;
  filter: blur(16px);
}

.glass_content {
  position: absolute;
}

.blur_filter {
  filter: blur(16px);
  background-color: #00000088;
  width: 110%;
  height: 110%;
}

.full {
  width: 100%;
  height: 100%;
}
